/* Reset CSS de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.banner-header {
    background-image: url('/images/banniere.jpg');
    background-size: cover;
    background-position: center;
    height: 250px; /* Tu peux ajuster la hauteur comme tu le souhaites */
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.contact p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

nav {
    background-color: #333;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #d2232a;
    padding: 10px;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section#accueil {
    color: black;
}

.pizza-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pizza-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
}

.menu-navigation .btn {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
}

.menu-navigation .btn:hover {
    background-color: #d2232a;
    color: white;
}

body {
    padding-top: 78px; /* Ajustez la valeur selon la hauteur de votre navbar */
}